{% extends 'base.html' %}
{% block title %} Charts Page {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">

<header>
    {% include 'components/menu.html' %}
</header>
<div class="container">
    <div class="datepicker-container">
        <input type="text" id="get_chart" placeholder="Chọn ngày hiển thị chart" class="datepicker-input">
        <button id="downloadChartBtn">Download Chart</button>
    </div>
    <div class="chart">
        <canvas id="myChart"></canvas>
    </div>
</div>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";

    const config = {
        apiKey: "AIzaSyD3T2lQuoHkUhCwZA9pPXwnPbM74NAS7NE",
        authDomain: "flood-flask-c14e2.firebaseapp.com",
        databaseURL: "https://flood-flask-c14e2-default-rtdb.firebaseio.com",
        projectId: "flood-flask-c14e2",
        storageBucket: "flood-flask-c14e2.appspot.com",
        messagingSenderId: "347113114806",
        appId: "1:347113114806:web:01a0b0f6e743e35c0aaa17",
        measurementId: "G-W3W68MWBB3"
    };
    firebase.initializeApp(config);
    const database = firebase.database();

    $("#get_chart").datepicker({
        dateFormat: "dd-mm-yy",
        onSelect: function (dateText, instance) {
            console.log("Selected date:", dateText);
            var history_child = database.ref("/history/" + dateText);

            history_child.once('value', function (snapshot) {
                const data = snapshot.val();

                if (data) {
                    // Xử lý dữ liệu và cập nhật biểu đồ
                    const _sorted_keys = Object.keys(data).sort((a, b) => {
                        const [keyA, keyB] = [a.split(':').map(Number), b.split(':').map(Number)];
                        if (keyA[0] !== keyB[0]) {
                            return keyA[0] - keyB[0];
                        } else {
                            return keyA[1] - keyB[1];
                        }
                    });

                    const _x_values_time_series = [];
                    const _y_values_humidity = [];
                    const _y_values_temperature = [];
                    const _y_values_water_level = [];

                    _sorted_keys.forEach(key => {
                        for (const key_1 in data[key]) {
                            for (const key_2 in data[key][key_1]) {
                                const _time = key + ":" + key_1;
                                _x_values_time_series.push(_time);
                                _y_values_humidity.push(data[key][key_1][key_2].humi);
                                _y_values_temperature.push(data[key][key_1][key_2].temp);
                                _y_values_water_level.push(data[key][key_1][key_2].water_level);
                            }
                        }
                    });

                    main_chart.data.labels = _x_values_time_series;
                    main_chart.data.datasets[0].data = _y_values_humidity;
                    main_chart.data.datasets[1].data = _y_values_temperature;
                    main_chart.data.datasets[2].data = _y_values_water_level;

                    main_chart.options.title.text = 'Biểu đồ dữ liệu ngày ' + dateText;
                    main_chart.update();
                } else {
                    // Nếu không có dữ liệu, xóa dữ liệu cũ trong biểu đồ
                    main_chart.data.labels = [];
                    main_chart.data.datasets.forEach(dataset => {
                        dataset.data = [];
                    });
                    main_chart.options.title.text = 'Biểu đồ dữ liệu ngày ' + dateText;
                    main_chart.update();
                }
            });
        }
    });

    var main_chart;
    var x_values_time_series = [];
    var y_values_humidity = [];
    var y_values_temperature = [];
    var y_values_water_level = [];

    main_chart = new Chart("myChart", {
        type: "line",
        data: {
            labels: x_values_time_series,
            datasets: [{
                label: "Độ ẩm",
                data: y_values_humidity,
                backgroundColor: 'rgba(100, 149, 237, 0.2)',
                borderColor: 'rgba(100, 149, 237, 1)',
                borderWidth: 1,
                lineTension: 0.4
            }, {
                label: "Nhiệt độ",
                data: y_values_temperature,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                lineTension: 0.4
            }, {
                label: "Mực nước",
                data: y_values_water_level,
                backgroundColor: 'rgba(100, 255, 132, 0.2)',
                borderColor: 'rgba(100, 255, 132, 1)',
                borderWidth: 1,
                lineTension: 0.4
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Biểu đồ dữ liệu ngày '
            }
        }
    });

    document.getElementById("downloadChartBtn").addEventListener("click", function () {
        var canvas = document.getElementById("myChart");
        var url = canvas.toDataURL("image/png");
        var selectedDate = document.getElementById("get_chart").value;
        var fileName = 'chart_' + selectedDate + '.png';

        var link = document.createElement('a');
        link.download = fileName;
        link.href = url;
        link.click();
    });
</script>
{% endblock %}